gradio
fastapi
uvicorn
pydantic
pydantic-settings
sqlalchemy
alembic
psycopg2-binary
celery
redis
python-jose[cryptography]
passlib[bcrypt]
librosa
basic-pitch
python-multipart
loguru
reportlab
pretty_midi
mir_eval
scikit-learn
matplotlib
gunicorn
python-magic
firebase-admin
requests
torch
soundfile
setuptools
wheel
